MIDEND_AI_BASE_URL=https://api.llm7.io/v1
MIDEND_AI_API_KEY=bAXka05u5Zbuvc8qaLA91hK7tEKAeioAp179zPOzJ61oJ79vFt9OJzch8fY/LHsd2XX3ZXOYZj7VNPtvdmtIdcTm4L+FJehDv2wcVYzloq9HyHqpQn+rTU87QXmtUtZZy4PtsZge+bklkfJW1ISJ5Js=
MIDEND_AI_MODEL=default
